{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<table>
  <tr>
    {% for d in days %}
      <th class="{% if d == today %}today{% endif %}">{{ d }}</th>
    {% endfor %}
  </tr>

  <tr>
  {% for day in days %}
    <td class="{% if day == today %}today-col{% endif %}" id="{{ day|lower }}-chores-list">
     <a href="{{ url_for('main.add_chore', day=day) }}"
      class="add-chore"
      aria-label="Add chore">
      +
      </a>
    </td>
  {% endfor %}
</tr>


  <tr>
    {% for day in days %}
      <td class="{% if day == today %}today-col{% endif %}">
        {% if chores_by_day.get(day) %}
          <ul>
            {% for chore in chores_by_day[day] %}
              <li>
                <form method="post"
                      action="{{ url_for('main.toggle_chore', chore_id=chore.id) }}"
                      style="display:inline;">
                  <input type="checkbox"
                         name="done"
                         {% if chore.done %}checked{% endif %}
                         onchange="this.form.submit()">
                </form>

                <a href="{{ url_for('main.edit_chore', chore_id=chore.id) }}">
                  {{ chore.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </td>
    {% endfor %}
  </tr>
</table>
{% endblock %}
